<!DOCTYPE html>
<html ng-app="TodoApp">
  <head>
    <title>Todos</title>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag 'application' %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">
          <div class="masthead clearfix">
            <div class="inner">
            <h3 class="masthead-brand">To Do Lists</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li class="active"><a ng-href="/todolists">Home</a></li>
                  <li><a href="#">Features</a></li>
                  <li><a href="#">Contact</a></li>
                </ul>
              </nav>
            </div>
          </div>
          <div class="inner cover">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
